* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    background: #06113c;
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container img {
    height: 300px;
  }
  
  .container button {
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background: #fff;
  }
  